
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
    border: 2px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>
</head>
<body>
<h1>Repo Info</h1>
<table>
<tr><th>Repo Name</th><th>Repo Id</th><th>Repo Path</th><th>Repo size</th><th>Class Name</th><th>Method Name</th><th>Method Dependencies</th></tr>
{% for result in results %}
<tr><td>{{result[0]}}</td><td>{{result[1]}}</td><td>{{result[2]}}</td><td>{{result[3]}}</td><td>{{result[4]}}</td><td>{{result[5]}}</td><td>{{result[6]}}</td></tr>
{% endfor %}
</table>

{% endblock content %}
</body>
</html>
